/* Añadimos fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

h1 { 
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
}

#titulo {
  margin-top: 3rem;  
}

#gestion {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#fila1,
#fila2,
#fila3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

