/* Añadimos fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

h1 { 
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
}

#titulo {
  margin-top: 2rem;  
}

* {
    box-sizing: border-box;
  }



/* Definimos variables para la paleta de colores https://colorhunt.co/palette/00abb33c4048b2b2b2eaeaea*/
:root {
  --paleta-azul: #00ABB3;
  --paleta-oscuro: #3C4048;
  --paleta-medio: #B2B2B2;
  --paleta-claro: #EAEAEA;
}

#nav-home {
  font-family: 'Cabin Sketch', cursive;
}


/* Estilos para pantallas pequeñas (mobile-first) */
/* se aplican por defecto */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Imagen principal first-mobile */

.img-principal{
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}




/* Barra de navegacion */
.navbar {
  background-color: var(--paleta-azul);
  
}
  
/* Estilos para pantallas medianas */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
  .img-principal{
    max-width: 40%;
    max-height: 40%;
  }
  
}

header .btn {
  color:black;
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .img-principal{
    max-width: 40%;
    max-height: 40%;
  }
  
}

main {
  flex: 1;
}


/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
/* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 1rem;
    width: 15rem;
    height: 20rem;
    text-align: center;
    background-color: var(--paleta-claro);
    /* centramos las cards adaptando la posicion a los tamaños de pantalla pequeños */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-img-top {
    width: 12rem;
    
  }


  #productos {
    margin: 1rem;
  }



  /* This one is to make similar card imgs of diff sizes */
  .card-img-box {
    height:14rem;
    background-color:white;
    border-radius: 2%;
    

  }

  /* Only applies to small height imgs */
  .small-img {
    padding-top: 2.5rem;
    height:14rem;
    background-color:white;
    border-radius: 2%;
  }
  

  footer {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
  }

  footer a{
    color: var(--paleta-oscuro);
  }


  #social-media-icon-in,
  #social-media-icon-tw {
    margin: 1rem;
  }


  #social-media-icon-in:hover,
  #social-media-icon-tw:hover {
    margin: 1rem;
    transform: scale(1.5);
    color: var(--paleta-oscuro);
  }


  #copyright {
    margin-top: 1rem;
  }

